version: '3.5'
services:
  omop-cdm-custom-concepts:
    image: honeur/postgres:omop-cdm-custom-concepts-update-2.0
    container_name: omop-cdm-custom-concepts
    volumes:
      - shared:/var/lib/shared
    external_links:
      - postgres
    networks:
      - honeur-net
    environment:
      - "DB_HOST=postgres"

networks:
  honeur-net:
    external: true

volumes:
  shared:
    external: true